th {
  padding: 10px;
  border: 2px solid black;
}

td {
  padding: 10px;
  border: 1px solid black;
}

button {
  margin: 5px;
  padding: 10px;
  background-color: #3dcf69;
  border-style: none;
  border: 1px solid black;
  border-radius: 3px;
  color: #000000;
}

button.add {
  background-color: rgb(65, 188, 236);
  float: left;
}

.remove {
  float: left;
}

.modal {
  text-align: center;
  margin: 10px;
}

input {
  margin: 5px;
}

.addModal {
  background-color: rgb(65, 188, 236);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
