th {
  padding: 10px;
  border: 2px solid black;
}

td {
  padding: 10px;
  border: 1px solid black;
}

button {
  margin: 5px;
  padding: 10px;
  background-color: #3dcf69;
  border-style: none;
  border: 1px solid black;
  border-radius: 3px;
  color: #000000;
}

button.add {
  background-color: rgb(65, 188, 236);
  float: left;
}

.remove {
  float: left;
}

.modal {
  text-align: center;
  margin: 10px;
}

input {
  margin: 5px;
}

.addModal {
  background-color: rgb(65, 188, 236);
}

.App {
  text-align: center;
  width: 600px;
}

.totals {
  padding: 10px;
  border: 1px solid black;
  background-color: rgb(65, 188, 236);
}

.totalsContainer {
  float: right;
}
